
.pageNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pageNumber{
    text-align: center;
    padding: 5px;
    background-color: var(--White);
    border: solid var(--Blue) 2px;
    border-left: none;
    border-right: none;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
}

.pageNumber:focus{
    cursor: default;
    outline: none;
    background-color: var(--Gray);
    border-right: solid var(--Blue) 2px;
}

.arrowNavButtonUp, .arrowNavButtonDown{
    text-align: center;
    padding: 5px;
    height: 3rem;
    width: 3rem;
    border: solid var(--Blue) 2px;
}

.arrowNavButtonUp{
    border-radius: 0px 5px 5px 0px;
    border-left: none;
}
.arrowNavButtonUp:disabled{
    background-color: var(--Gray);
    cursor: default;
}
.arrowNavButtonUp:disabled::after{
    opacity: 0;
}

.arrowNavButtonDown{
    border-radius: 5px 0px 0px 5px;
    border-right: none;
}