
.searchbarBase, .searchbarBase:focus{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    background-color: var(--White);
    border-radius: 5px;
    border: solid var(--Blue) 2px;
}


