@import "tailwindcss";

:root {
  --Blue: #5AD3FF;
  --LightBlue: #e9f9ff;
  --Gray: #e5e5e5;
  --DarkGray: #818181;
  --White: #ffffff;
  --Black: #000000;
  --Yellow: #FFCF5E;
  --Green: #8FF08B;
  --Red: #ff7a7a;
  --Purple: #d881fd;

  --SearchAreaDefaultHeight: 32px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

}

button {
  color: var(--White);
  background-color: var(--Blue);
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}