
.dropdownMenu{
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--Gray);
    max-height: calc(var(--SearchAreaDefaultHeight) * 10);
    width: 100%;
    overflow: auto;
    padding: 5px;
    border: solid var(--Blue) 3px;
    border-radius: 3px;
    
}

.dropdownSearch{
    padding: 5px;
    margin-bottom: 10px;
    height: 24px;
    font-size: 14px;
    background-color: var(--White);
    border-radius: 3px;
    border: solid var(--Blue) 2px;
    cursor: pointer;
}

.dropdownSearch:focus{
    cursor: default;
    outline: none;
}

.dropdownItem{
    color: var(--Black);
    overflow-wrap: anywhere;
}

.dropdownItem input{
    background-color: var(--Blue);
}