.filterEntry {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 2px 3px var(--Gray);
}

.tagHeader,
.catHeader,
.artistHeader {
    display: flex;
    flex-direction: row;
    color: var(--White);
    padding: 5px 10px;
}

.tagHeader {
    background-color: var(--Yellow);

}

.catHeader {
    background-color: var(--Green);

}

.artistHeader {
    background-color: var(--Red);

}

.entryName {
    margin-right: 5px;
    font-weight: 600;
}

.tagBody,
.catBody,
.artistBody {
    display: flex;
    flex-direction: row;
    color: var(--Black);
    padding: 10px;
}

.tagBody {
    background-color: var(--LightYellow);
    border: solid var(--Yellow) 2px;
    border-radius: 0px 0px 5px 5px;
}

.catBody {
    background-color: var(--LightGreen);
    border: solid var(--Green) 2px;
    border-radius: 0px 0px 5px 5px;
}

.artistBody {
    background-color: var(--LightRed);
    border: solid var(--Red) 2px;
    border-radius: 0px 0px 5px 5px;
}

.tagInput,
.catInput,
.artistInput {
    padding: 5px;
    height: 26px;
    margin-right: 10px;
    flex: 5 1 0;
    background-color: var(--White);
    border-radius: 5px;
    cursor: pointer;
}

.tagInput {
    border: solid var(--Yellow) 2px;
}

.catInput {
    border: solid var(--Green) 2px;
}

.artistInput {
    border: solid var(--Red) 2px;
}

.tagInput:focus {
    border: solid var(--Yellow) 2px;
}

.catInput:focus {
    border: solid var(--Green) 2px;
}

.artistInput:focus {
    border: solid var(--Red) 2px;
}

.tagInput:focus,
.catInput:focus,
.artistInput:focus {
    cursor: default;
    outline: none;
    background-color: var(--Gray);
}

.entryControls {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: auto;
    column-gap: 5px;
}

.entryControls>* {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--White);
    cursor: pointer;
    min-width: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.entryEdit {
    background-color: var(--Green);
    color: var(--White);

}

.entryEditConfirm {
    background-color: var(--Blue);
}

.entryDelete {
    background-color: var(--Red);
    border: 2px solid var(--White);
}

@media (prefers-color-scheme: dark) {
    .filterEntry {
        box-shadow: 1px 2px 3px var(--Blue);
    }

    .catHeader {
        background-color: var(--Green-DarkMode);

    }

    .artistHeader {
        background-color: var(--Red-DarkMode);

    }

    .catBody {
        background-color: var(--LightGreen);
        border: solid var(--Green-DarkMode) 2px;
        border-radius: 0px 0px 5px 5px;
    }

    .artistBody {
        background-color: var(--LightRed-DarkMode);
        border: solid var(--Red-DarkMode) 2px;
        border-radius: 0px 0px 5px 5px;
    }

    .catInput {
        border: solid var(--Green-DarkMode) 2px;
    }

    .artistInput {
        border: solid var(--Red-DarkMode) 2px;
    }

    .catInput:focus {
        border: solid var(--Green-DarkMode) 2px;
    }

    .artistInput:focus {
        border: solid var(--Red-DarkMode) 2px;
    }
}