.entryForm{
    margin: 20px;
    padding-right: 40px;
    padding: 10px;
    background-color: var(--White);
    border: solid 3px var(--Blue);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

@media (prefers-color-scheme: dark){
    .entryForm{
        background-color: var(--LightBlue);
    }
}

.submitButton{
    color: var(--White);
    background-color: var(--Blue);
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-top: 10px;
}

.dropdownArea, .textArea{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.fieldLabel{
    font-weight: 500;
    width: 20%;
    padding: 5px;
    font-size: 20px;
    overflow-wrap: break-word;
}

.textArea input, .textArea textarea{
    padding: 5px;
    height: var(--SearchAreaDefaultHeight);
    width: 100%;
    background-color: var(--White);
    border-radius: 5px;
    border: solid var(--Blue) 3px;
    cursor: pointer;
    text-wrap: wrap;
    
}

.textArea textarea{
    height: auto;
}

.textArea input:focus, .textArea textarea:focus{
    cursor: default;
    outline: none;
    background-color: var(--Gray);
}

.selectedFilters{
    margin: 0px 20%;
    padding-left: 0px;
    width: 80%;
    flex-wrap: wrap;
}

.selectedCat{
    width: fit-content;
    margin: 0px 20%;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: var(--Green);
}

/* div child to select the wrapper div of each DropdownMenu */
.dropdownArea > div{
    position: static;
    display: inline-flex;
}

.entryNotFound{
    background-color: var(--DarkGray);
    border-radius: 10px;
    color: var(--White);
    text-align: center;
    padding: 10px 0px;
    margin: 20px;
}