
.searchArea{
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.filterButton{
    border-radius: 5px;
    background-color: var(--Blue);
    color: var(--White);
    padding: 3px;
    margin-bottom: 5px;
    height: var(--SearchAreaDefaultHeight);
    font-size: clamp(0px, 16px, 50px);
    cursor: pointer;
    width: 100%;
    min-width: 140px;
    overflow-wrap: anywhere;
}

.filterArea{
    flex: 1 1 0;
}
