
.selectedFiltersArea{
    display: flex;
    flex-direction: column;
}

.selectedTagsArea, .selectedCatsArea, .selectedArtistsArea{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    flex-wrap: wrap;
    row-gap: 5px;
}

.selectedTag, .selectedCat, .selectedArtist{
    margin-right: 5px;
    display: flex;
    flex-direction: row;
}

.selectedTag .SelectedFilterName{
    background-color: var(--Yellow);
}
.selectedCat .SelectedFilterName{
    background-color: var(--Green);
}
.selectedArtist .SelectedFilterName{
    background-color: var(--Red);
}

.SelectedFilterName{
    display: inline-flex;
    align-items: center;
    padding: 5px 8px;
    border-radius: 5px 0px 0px 5px;
    white-space: nowrap;
}

.SelectedFilterXButton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px;
    background-color: var(--Gray);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
